@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: Raleway;
}

html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color: #faf6f2;
  color:#683b2b;
}

.searchBar {
  padding: 5px;
}

.header {
  height: 100px;
  background-color: #d49e8d;
  color:#683b2b;
}

.exercises {
  display: flex;
  flex-wrap: wrap;
}

.exercise-details {
  padding: 4px;
}

.exercise-card-container {
  border-style: solid;
  display: flex;
  height: 400px;
  width: 700px;
  margin: 10px;
  border-color: rgb(128, 128, 128, .4);
  border-width: 4px;
  background-color: #d49e8d;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.exerciseId {
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 5px;
  background-color: #fff5ee;
}

.exerciseId img {
  width: 500px;
}

.register-container {
  display: grid;
  align-self: center;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1em;
  border-style: solid;
  background-color:#fff5ee;
  border-color:black;
  border-width: 1px;
  padding: 5px;
  width: 60%;
  padding-left:10px;
}


.form-container {
  padding-left: 25%;
 }
 
 .register-container button {
   width: 100px;
 }
 
 a {
   text-decoration: none;
   color:black;
 }
 
 .navBar a {
   color:#fff5ee;
   text-decoration: none;
   text-align: center;
 }
 
 a:hover {
   background-color: rgb(224, 215, 160, .5);
 }
 
 .navBar {
   display:grid;
   align-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   row-gap: 1em;
   border-style: solid;
   background-color: rgb(128, 128, 128, .4);
   border-color:black;
   border-width: 1px;
   padding: 5px;
 }

 img {
  width: 400px;
  padding: 5px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
  transition: all ease-in-out .2s;
}

img:hover {
  box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
}

.intro-paragraph {

}