@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: Raleway;
}

html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(181, 76, 23, 0.143);
}

.searchBar {
  padding: 5px;
}

.header {
  height: 100px;
  background-color: rgba(77, 74, 74, 0.4);
  color:#fff5ee
}

.exercises {
  display: flex;
  flex-wrap: wrap;
}

.exercise-details {
  padding: 4px;
}

.exercise-card-container {
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 10px;
  border-color: #edad8d94;
  border-width: 4px;
  background-color: #fff5ee;
  padding: 5px;
}

.exerciseId {
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 5px;
  background-color: #fff5ee;
}

.register-container {
  display: grid;
  align-self: center;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1em;
  border-style: solid;
  background-color:#fff5ee;
  border-color:black;
  border-width: 1px;
  padding: 5px;
  width: 60%;
  padding-left:10px;
}


.form-container {
  padding-left: 25%;
 }
 
 .register-container button {
   width: 100px;
 }
 
 a {
   text-decoration: none;
   color:black;
 }
 
 .navBar a {
   color:#fff5ee;
   text-decoration: none;
   text-align: center;
 }
 
 a:hover {
   background-color: rgb(224, 215, 160, .5);
 }
 
 .navBar {
   display:grid;
   align-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   row-gap: 1em;
   border-style: solid;
   background-color: rgb(128, 128, 128, .4);
   border-color:black;
   border-width: 1px;
   padding: 5px;
 }